* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #222222;
}

#first-container {
    background-color: black;
    width: 100vw;
    height: 1000px;
}

#main-nav {
    color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

#logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

#logo-img {
    width: 42px;
    height: 42px;
}

#main-nav ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: 130px;
}

#main-nav ul li {
    list-style-type: none;
    position: relative;
}

#main-nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

#main-nav ul li a:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    background: white;
    top: 125%;
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.active::after {
    content: "";
    position: absolute;
    height: 2px;
    background: white;
    top: 125%;
    width: 18px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

#nav-right-list {
    display: flex;
}

#nav-right-list a {
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

#globe-icon {
    padding: 10px;
    width: 36px;
    height: 36px;
}

#globe-icon:hover {
    background-color: #262626;
    border-radius: 50px;
}


#nav-right-list {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-right-list div {
    width: 77px;
    height: 42px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 0 8px; 
}

#menu-icon {
    width: 14px;
    height: 24px;
    margin-left: 5px;
}

#profile-icon {
    width: 30px;
    height: 30px;
}

/* ----------- second nav  */

#second-nav {
    background-color: white;
    width: 800px;
    height: 66px;
    margin: 0 auto;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#second-nav-search {
    background-color: #FE395C;
}

#second-nav-btn-div {
    width: 50px;
    height: 50px;
    background-color: #FE395C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-nav-btn-div img {
    width: 18px;
    height: 18px;
}

#second-nav ul {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

#second-nav ul li{
    list-style-type: none;
    letter-spacing: 1px;
    position: relative;
}


.top-link {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

#second-nav ul li div input[type="text"]{
    border: none;
    width: 170px;
}

#second-nav ul li div input[type="text"]::placeholder{
    font-size: 14px;
    letter-spacing: 1px;
}

#top-link-li{
    width: 220px;
    padding-right: 100px;
}

#second-nav ul li::after{
    content: "";
    position: absolute;
    height: 35px;
    background: rgb(207, 207, 207);
    top: 12.7%;
    width: 1px;
    left: 86%;
    transform: translateX(-50%);
}

#second-nav ul li div input[type="text"]{
    width: 100px !important;
}

#second-nav ul #top-link-li .top-link-first input[type="text"]{
    width: 180px !important;
}

#help-ref {
    margin: 80px auto;
    width: 1120px;
    height: 360px;
    background-color: #FE395C;
    color: white;
    border-radius: 12px;
    text-align: center;
}

#help-ref span {
    font-size: 48px;
    color: white;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: block;
    padding-top: 120px;
}

#help-ref button {
    background-color: #FE395C;
    border: white 1px solid;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    margin-top: 25px;
}

/* curiosity section */

main {
    width: 100vw;
}

#curiosity {
    margin: 0 auto;
    width: 1280px;
    height: 568px;
    background-image: url("/images/curiosity.jpg");
    background-size: 100% 100%;
    border-radius: 15px;
    position: relative;
    top: -310px;
}

#curiosity p {
    font-size: 48px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 340px;
}

#curiosity button {
    margin-left: 600px;
    margin-top: 30px;
    width: 150px;
    height: 56px;
    background-color: white;
    border: none;
    border-radius: 50px;
}

#curiosity button span {
    font-size: 18px;
    font-weight: 600;
    background: -webkit-linear-gradient(rgb(124, 0, 169), rgb(238, 23, 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* INSPIRATION  */

#inspiration {
    position: relative;
    top: -200px;
    width: 1280px;
    left: 80px;
}

#inspiration h2{
    font-size: 42px;
    padding-bottom: 40px;

}

#inspiration-cards  {
    width: inherit;
    display: flex;
    justify-content: space-around;
}

#inspiration-cards .card {
    width: 300px;
    height: 400px;
}

#inspiration-cards .card img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#inspiration-cards .card div {
    width: 300px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -10px;
    padding: 30px;
}

#scr {
    background-color: #D93B31;
}

#atl {
    background-color: #BD196D;
}

#mont {
    background-color: #DE3251;
}

#ocea {
    background-color: #CC2D4A;
}

#inspiration-cards .card div h3 {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

#inspiration-cards .card div p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}

/* DISCOVER SECTION  */

#discover {
    width: 1280px;
    margin: 0 auto;
    margin-top: -100px;
}

#discover h2 {
    font-size: 42px;
    padding-bottom: 30px;
}

#disc-cont {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#disc-cont #disc-exp, #disc-cont #disc-exp-online {
    width: 630px;
    height: 600px;
    border-radius: 10px;
}

#disc-exp {
    background: url('/images/discover2.jpg');
    background-size: cover;
}

#disc-exp-online {
    background-color: rgba(0,0,0,0.5);
    background: url('/images/discover3.jpg');
    background-size: 540px 658px;
}

#disc-cont #disc-exp h3, 
#disc-cont #disc-exp-online h3{
    color: white;
    font-size: 53px;
    width: 500px;
    padding: 80px 80px 20px;
}

#disc-cont #disc-exp button, 
#disc-cont #disc-exp-online button{
    background-color: #EBEBEB;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 80px;
}

#giftcards {
    width: 1280px;
    margin: 80px auto;
    display: flex;
}

#giftcards #gift-call h3{
    font-size: 53px;
    padding: 60px 0 30px;
    line-height: 1;
    color: #222222;
}

#giftcards #gift-call button{
    border: none;
    border-radius: 8px;
    width: 133px;
    height: 48px;
    background-color: #222222;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

#giftcards img{
    width: 800px;
    height: 400px;
    object-fit: contain;
}


#hosting {
    width: 1280px;
    height: 640px;
    background: url('/images/hosting.jpg');
    background-size: cover;
    margin: 0 auto;
    border-radius: 12px;
}

#hosting h3 {
    color: white;
    font-size: 95px;
    width: 438px;
    padding: 80px;
    line-height: 1;
}

#hosting button{
    background-color: #EBEBEB;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 80px;
}